# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE - IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# IDE - VS Code
.vscode/
.code-workspace

# Logs
logs/
*.log

# Arquivos de sistema operacional
.DS_Store
Thumbs.db